.bg-image {
  background-image: url('https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
  height: 900px; 
}

.center-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  text-align: center; 
}

.review-heading {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}


.image-container {
  position: relative;
  overflow: hidden;
}

.image-container:hover img {
  opacity: 0.3; 
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0; /* Initially hide text */
  transition: opacity 0.3s ease; /* Add smooth transition for opacity */
}

.image-container:hover .overlay-text {
  opacity: 1; /* Show text on hover */
}
